@charset "utf-8";

body{
	margin-top:50px;
	font-family:"Comic Sans MS", Sans-serif;
	font-size:100%;
	padding:0px 50px;
    //background-color: black;
}

Header{
    background-image:url()
}

nav ul{
	list-style-type: none;
	margin: 0px;
	padding: 10px 0px;
	border-bottom: solid 1px black;
	border-top: solid 1px black;
	/*propriété overflow est importante lorsqu'on utilise le float*/
	overflow: auto; /*ou hidden*/
}
/*pour que tous les éléments du menu se placent un à côté de l'autre*/
nav li {
	float: left;
}
/*enlever les soulignements aux liens hyertextes et ajouter la présentation désirée*/
nav li a {
	text-decoration: none;
	color: black;
	padding: 10px 20px 10px 20px;
	text-align: center;
}
/*mettre en évidence l'élément sur lequel on se place*/
nav li a:hover {
	background-color: LightGrey;
}