@charset "utf-8";

body{
    background-color:lightsalmon; 
	font-family:"Comic Sans MS", Sans-serif;
	font-size:100%;
	margin:0px;
}

.contenu{
	max-width:1000px;
	margin-right:auto; 
	margin-left:auto;
}

.avec_image:hover {
background-color:blue;
}

header, footer{
	background-color:white;
	padding:20px;
}

article {
	border: 1px solid black;
	margin: 25px 0px 50px 0px;;
}
h1 {
    font-size: 200%;
}
	
h2 {
	background-color:white; 
	border-radius: 10px;
	padding:20px;
	font-size:150%;
}
h3 {
	background-color:white; 
	margin-top:0px;
	padding:10px;
}

h3::first-letter{
    font-size: x-large;
}

h2 + ul{ 
	border: 2px solid black;
}

h1, h2, h3, h4{
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
b{
    font-size: 110%;
}

mark:first-of-type{
    background-color:green;
}

mark:nth-of-type(3){
    background-color:blue;
}